html {
    background-color: #f5f5f5;
    box-sizing: border-box;
}

body {
	overflow: hidden;
}

:root {
	--hue-pink-faded: rgba(224, 105, 193, 0.4);
	--hue-green-faded: rgba(196, 224, 105, 0.4);
	--hue-pink: rgba(224, 105, 193, 0.8);
	--hue-green: rgba(196, 224, 105, 0.8);
	--hue-blue: rgba(3, 194, 252, 0.8);
}

#title {
	font-family: "Acme", Jost, Sans-Serif;
	font-size: 40px;
	margin: 15px;
}

#logo {
	position: relative;
	top: 8px;
}

.modetitle {
	font-family: Cinzel, Jost, Sans-Serif;
}

.rooms {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.line {
    display: inline-block;
    border-left: 1px solid grey;
    height: 180px;
    overflow: hidden;
    transform: translate(0%, 18%);
}

#createGameButton,
#joinGameButton {
    color: white;
    background-color: black;
    border-radius: 6px;
    cursor: pointer;
    padding: 3px;
}

input.roomc {
	padding-left: 3px; 
	line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    border: 3px solid grey;
 	background-color: #f5f5f5;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter";
    z-index: 1;
    transition: all ease 0.2s
}

.create, .join {
	position: relative;
}

input.roomc:focus {
	outline: none;
	background-color: var(--hue);
	box-shadow: 2pt 2pt grey;
}

input.create {
	--hue: var(--hue-green-faded);
}

input.join {
	--hue: var(--hue-pink-faded);
}


.roomd {
	font-family: "Acme", Cinzel, Sans-Serif;
	font-size: 2em;
	margin: 4px;
}

.roomc {
	font-size: 1em;
	margin: 3px;
}


#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Courier New", Courier, "Lucida Sans Typewriter";
}

#container {
	height: 100%;
}

#errormodal {
	display: none;
	position: absolute;
	bottom: 0px;
	left:0px;
	padding:10px;
	width: 100%;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter";
	color: white;
	background-color: red;
}

#closemodal {
	cursor: pointer;
	position:absolute;
	right:30px;
	bottom:10px;
}

#lobby {
	display: none;
}

#roomname {
	font-family: "Acme", Jost, Sans-Serif;
	font-size: 20px;
	margin: 15px;
}

#roomid {
	padding: 5px;
	color: var(--hue-pink);
	background-color: var(--hue-green);
	border-radius: 10px;
}

#playersheader {
	font-family: "Acme", Jost, Sans-Serif;
	font-size: 20px;
	margin: 15px;
}

#players {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter";
	font-size: 18px;
	margin: 15px;
	padding: 10px;
	padding-left: 0;
	color: white;
	max-width: 50vw;
	background-color: #b3b3b3;
	border-radius: 5px;
}

.playerName {
	background-color: var(--hue-blue);
	padding: 5px;
	margin: 5px;
	border-radius: 8px;
	color: black;
}

#startgamebutton {
	background-color: black;
	color: white;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter";
	font-size: 18px;
	border-radius: 6px;
	margin: 10px;
	padding: 5px;
	display: inline-block;
	cursor: pointer;
}

/*card flipping loading animation*/


.card-face {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: 12px;
	border: 1px solid black;
	transition: transform 500ms ease-in-out;
	backface-visibility: hidden;
}

.card {
	position: relative;
	display: none;
	margin: 5px;
	border-radius: 12px;
	transform: translate(200px, 200px);
	perspective: 500px;
}

.card-image {
	position: absolute;
	border-radius: 12px;
}

.card-back {
	transform: rotateY(180deg);
}

.card-front {
	transform: rotateY(0deg);
}

.card:hover .card-back {
	transform: rotateY(0deg);
}

.card:hover .card-front {
	transform: rotateY(-180deg);
}

@keyframes flip {
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
