html {
	margin: 0;
    background-color: #f5f5f5;
}

body {
	margin: 0;
	overflow: hidden;
}

#title {
	font-family: "Acme", Jost, Sans-Serif;
	font-size: 40px;
	margin: 15px;
	vertical-align: baseline;
}

#logo {
	position: relative;
	top: 8px;
}

#container {
	margin: 0;
	left: 0;
	top: 0;
	min-height: 100vh;
	perspective: 500px;
}

#cards {
	cursor: pointer;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 10;
	transition: transform 100ms ease;
}

#cards:hover {
	transform: translate(0px, -15px);
}

.card {
	cursor: pointer;
}

.card-image {
	border-radius: 12px;
	border: 2px solid black;
}

#cards .card {
	position: absolute;
	font-size: 0;
	display: inline;
	vertical-align: top;
	transition: transform 0.4s;
}

/* modal contents */

#card-modal {
	overflow: auto;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0, 0, 0, 0.85);
	overflow-y: auto;
}

#modal-close {
	cursor: pointer;
	position: fixed;
	font-size: 2em;
	left: auto;
	top: 5px;
	right: 10px;
	color: white;
}

#modal-card-container {
	display: flex;
	flex-flow: row wrap;
	margin: 3em;
	margin-top: 1em;
}

#modal-card-container .card {
	margin: 1em;
	margin-top: 0;
	transform: scale(1);
	transition: transform 0.1s ease-in-out;	
	border-radius: 0px;
}

#modal-card-container .card-image {
	border-radius: 0px;
}

#modal-card-container .card:hover {
    transform: scale(1.03);
}

#modal-card-container .card-image {
	border: none;
}

#modal-title {
	color: white;
	margin-left: 2em;
	margin-top: 1em;
	font-size: 2em;
	font-family: "Acme", Jost, Sans-Serif;
}

/* table contents */

#table-middle {
	/* display: flex; */
	justify-content: center;
	align-items: center;
}

.playspace {
	font-size: 0.5em;
	color: #9e9e9e;
	/*background-color: lightgrey;*/
	margin: 3px;
	padding: 4px;
	border-radius: 2px;
	display: inline-block;
	transition: ease 0.2s;
}


#rule-cards {
	margin-top: 0.2em;
	width: 180px;
	height: 100px;
}

#goal-cards, #discard-cards {
	/* position: relative; */
	margin-top: 0.2em;
	width: 100px;
	height: 100px;
}

#playstatus {
	display: none;
	background: grey;
	color: white;
	padding: 0.3em;
	border-radius: 0.2em;
	font-size: 0.8em;
	text-align: center;
}

.playspace .card {
	position: absolute;
}


/*flipping styling, may use later*/
/* .card-back {
	transform: rotateY(180deg);
}

.card-front {
	transform: rotateY(0deg);
}

.card.covered .card-back {
	transform: rotateY(0deg);
}

.card.covered .card-front {
	transform: rotateY(-180deg);
} */


/* player orientation */


#table {
	width: 80vw;
	height: 65vh;
	/*background-image: url("woodtexture.jpg");*/
	background-color: #f7efda;
	border-radius: 10px;
	border: 2px solid #70342e;
	margin:4vw;	
	font-size: 30px;
	font-family: "Acme", Jost, Sans-Serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

#table-container {
    min-width: 100vw;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#players-container {
	font-family: "Acme", Jost, Sans-Serif;
}

.user {
    position: fixed;
    top: 160px;
    left: 258.75px;
	padding: 20px;
	font-size: 1rem;
}

.topline {
	display: block;
	margin-right: 2px;
    position: relative;
}

.plus-one {
	opacity: 0%;
	display: inline-block;
	transform: translate(-25px, -25px);
}

img.profile-img {
    width: 60px;
    height: 60px;
}

img.cards-img {
    width: 26px;
    height: 26px;
}

.name {
    text-align: center
}

.card-num {
    font-size: 0.7em;
    display: inline-block;
    transform: translate(-14px, -9px) rotate(10deg);
}

/* keepers on the table */

.keepers {
	position: fixed;
	height: 50px;
	width: 50px;
}

.keepers .card {
	position: absolute;
	font-size: 0;
	display: inline;
	vertical-align: top;
}

.keepers .card-image {
	border: 2px solid black;
	border-radius: 6px;
}

#status-bar {
	position: fixed;
	left: 3px;
	bottom: 3px;
	background-color: black;
	color: white;
	font-family: "Acme", Jost, Sans-Serif;
	padding: 6px;
	padding-left: 12px;
	padding-right: 20px;
	/* min-width: 20vw; */
	border-radius: 3px;
}

#text {
	display: inline-block;
	margin-right: 2em;
}

#balls-container {
	display: inline-block;
}

/* balls loading animation */

.balls {
	width: 3em;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
  }
  
  .balls div {
	width: 0.5em;
	height: 0.5em;
	border-radius: 50%;
	background-color: white;
  }
  
  .balls div:nth-of-type(1) {
	transform: translateX(-100%);
	animation: left-swing 0.5s ease-in alternate infinite;
  }
  
  .balls div:nth-of-type(3) {
	transform: translateX(-95%);
	animation: right-swing 0.5s ease-out alternate infinite;
  }
  
  @keyframes left-swing {
	50%,
	100% {
	  transform: translateX(95%);
	}
  }
  
  @keyframes right-swing {
	50% {
	  transform: translateX(-95%);
	}
	100% {
	  transform: translateX(100%);
	}
  }

/* player's own keepers */

#my-keepers {
	position: fixed;
	padding: 1em;
	padding-right: 2em;
	right: 0;
	bottom: 0;
}

#my-keepers .card {
	display: inline-block;
}